<app-nav [customColor]="'#e6e6e4'"></app-nav>
<header>
    <div id="text">
        <h1>Learning Management System</h1><br>
            <p>Bridging the Gap Between Knowledge and Application.</p>
            <p>Your Gateway to Knowledge and Achievement.</p><br><br>
            <div class="buttons">
                <button id="free">Join for free</button>
                <button id="enterprise">Try LMS for your enterprise</button>
            </div>
    </div>
    <div>
        <img  src="assets/heade.png" alt="header_image" class="img-fluid" />
    </div>
</header> 