<app-nav [customColor]="'#e6e6e4'"></app-nav>
<header>
    <div id="text">
        <h1>Learning Management System</h1><br>
            <p>Bridging the Gap Between Knowledge and Application.</p>
            <p>Your Gateway to Knowledge and Achievement.</p><br><br>
            <div class="buttons">
                <button routerLink="/signup" id="free">Join for free</button>
                <a href="#pricing"><button  id="enterprise">Explore our pricing</button></a>
            </div>
    </div>
    <div>
        <img  src="assets/header.png" alt="header_image" class="img-fluid" />
    </div>
</header> 