<app-nav></app-nav>
<div class="cart-container">
    <h2>Your Cart</h2>
  
    <div *ngIf="cart.length === 0" class="empty-cart">
      <p>Your cart is empty.</p>
    </div>
  
    <div *ngIf="cart.length > 0" class="cart-items">
      <div class="cart-item" *ngFor="let course of cart">
        <div class="course-details">
          <img [src]="course.courseDetails.img" alt="{{ course.name }}" class="course-image" />
          <div class="course-info">
            <h3>{{ course.courseDetails?.name }}</h3>
          <p><strong>Description:</strong> {{ course.courseDetails?.description }}</p>
          <p><strong>Duration:</strong> {{ course.courseDetails?.duration }} weeks</p>
          <p><strong>Price:</strong> {{ course.courseDetails?.price | currency }}</p>
        </div>
        </div>
        <button (click)="removeCourse(course.courseDetails.course_id)" class="remove-btn">Remove</button>
      </div>
  
      <div class="total-cost">
        <h3>Total Cost: {{ totalCost | currency }}</h3>
      </div>
  
      <button (click)="buyCourses()" class="buy-btn" [disabled]="cart.length === 0">
        Buy Now
      </button>
    </div>
  </div>
  
  <app-footer></app-footer>