<app-nav></app-nav>

<div id="page">
    <div id="signin-container">
        <mat-stepper #stepper>
  
            <!-- Step 1: Personal Details -->
            <mat-step [stepControl]="personalFormGroup" >
              <form [formGroup]="personalFormGroup">
                <ng-template matStepLabel>Enter Personal Details</ng-template>
                
                <mat-form-field>
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="John " formControlName="firstName" required>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder=" Doe" formControlName="lastName" required>
                </mat-form-field>
             
          
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput type="email" placeholder="example@example.com" formControlName="email" required>
                </mat-form-field>
                
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            
            <!-- Step 2: Educational Details -->
            <mat-step [stepControl]="educationFormGroup" >
              <form [formGroup]="educationFormGroup">
                <ng-template matStepLabel>Enter Educational Details</ng-template>
          
                <mat-form-field>
                  <mat-label>Degree</mat-label>
                  <input matInput placeholder="e.g., B.Sc. Computer Science" formControlName="degree" required>
                </mat-form-field>
          
                <mat-form-field>
                  <mat-label>University</mat-label>
                  <input matInput placeholder="e.g., XYZ University" formControlName="university" required>
                </mat-form-field>
                
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
          
            <!-- Step 3: Create Username and Password -->
            <mat-step [stepControl]="credentialsFormGroup" >
              <form [formGroup]="credentialsFormGroup">
                <ng-template matStepLabel>Create Username & Password</ng-template>
          
                <mat-form-field>
                  <mat-label>Username</mat-label>
                  <input matInput placeholder="Your username" formControlName="username" required>
                </mat-form-field>
          
                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input matInput type="password" matTooltip="Password should have atleast 1 uppercase, lowercase, number and special charecter" placeholder="********" formControlName="password" required>
                </mat-form-field>
          
                <mat-form-field>
                  <mat-label>Confirm Password</mat-label>
                  <input matInput type="password" placeholder="********" formControlName="confirmPassword" required>
                </mat-form-field>
                
         
                    <mat-label>{{msg}}</mat-label>
                  

                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="submitForm()">Submit</button>
                </div>
              </form>
            </mat-step>
          
          </mat-stepper>
          
    </div>
</div>

<app-footer></app-footer>