<div class="card">
    <img [src]="course.img" alt="{{ course.name }}">
    <div class="card-body">
      <div style="display: flex;flex-direction: row;justify-content: space-between;">
        <p class="card-text Category"><small>{{ course.category }}</small></p>
        <p *ngIf="course.price != 0" class="card-text Category"><small>{{course.price|currency}}</small></p>
        <p *ngIf="course.price ===0" class="card-text Category"><small>Free</small></p>
      </div>
      <p class="card-title">{{ course.name }}</p>
      <p class="card-text"><small>{{ course.description }}</small></p>
  
      <div *ngIf="isratingAvailable" class="rating">
        <span *ngFor="let star of [].constructor(5); let i = index" 
              class="fa fa-star" 
              [ngClass]="{'checked': i < get_rating(course)}"></span>
      </div>
      
      <div class="instructor-info d-flex align-items-center">
        <img [src]="instructor.image" alt="{{ instructor.image }}" class="instructor-img">
        <p class="instructor-name">{{ instructor.name }}</p>
      </div>
    </div>
    <button *ngIf="isAllCoursesPage" 
        (click)="onStartCourse(course)" 
        class="btn ">
  {{ isEnterpriseUser || course.price === 'Free' || course.price === 0 ? 'Enroll Now' : 'Add to Cart' }}
</button>
<button *ngIf="isMyCoursesPage" 
        (click)="onviewCourse(course)" 
        class="btn "> View Course
</button>

  </div>
  