#page {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f4f6f9; 
}

#blog-container {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  max-width: 900px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #20B486;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #1A9A72;
}

@media (max-width: 768px) {
  #blog-container {
    padding: 15px;
    margin: 15px;
  }

  form {
    max-width: 100%;
  }

  button {
    font-size: 14px;
    padding: 14px;
  }

  mat-form-field {
    width: 100%;
  }

  #page {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  #blog-container {
    padding: 10px;
    margin: 10px;
  }

  button {
    padding: 12px;
    font-size: 14px;
  }

  mat-form-field {
    font-size: 14px;
  }

  form {
    font-size: 14px;
  }
}
