<app-nav></app-nav>

<div style="text-align: right; padding: 30px;">
  <p routerLink="/cart">Your Cart <i class="fas fa-shopping-cart"></i></p>
</div>

<div id="filter" class="container mb-4">
  <div class="row">
    <div class="col-md-3 col-sm-12 mb-3">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (input)="searchCourses()"
        class="form-control"
        placeholder="Search by course name"
      />
    </div>
    
    <div class="col-md-3 col-sm-12 mb-3">
      <select [(ngModel)]="selectedCategory" (change)="filterCourses()" class="form-control">
        <option value="">All Categories</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>

    <div class="col-md-3 col-sm-12 mb-3">
      <button (click)="clearFilters()" class="btn btn-secondary ml-2">Clear Filters</button>
    </div>
  </div>
</div>

<div class="container all-courses">
  <div *ngIf="filteredCourses$ | async as filteredCourses; else noFilteredCourses">
    <div class="row">
      <div *ngFor="let course of filteredCourses" class="col-md-3 col-sm-6 mb-4">
        <app-course-card [course]="course" [instructor_id]="course.instructor_id"></app-course-card>
      </div>
    </div>
  </div>

  <ng-template #noFilteredCourses>
    <div class="text-center">
      <p></p>
    </div>
  </ng-template>

  <h3 style="text-align: center; margin-top: 40px;">All Courses</h3>
  <div *ngFor="let category of categories">
    <h5 class="category-title" [id]="category">{{ category }}</h5>
    <div class="row">
      <div *ngFor="let course of getAllCoursesByCategory(category) | async" class="col-md-3 col-sm-6 mb-4">
        <app-course-card [course]="course" [instructor_id]="course.instructor_id"></app-course-card>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<ng-template #loading>
  <div class="text-center">
    <p>Loading courses...</p>
  </div>
</ng-template>
