<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <h5 class="text-center">Hear from our customers</h5>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-12 d-flex justify-content-center ">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><i style="color :#20B486; font-size:xx-large;" class="fa-sharp fa-solid fa-quote-left"></i>"Thanks to this LMS, I transitioned from being a novice coder to landing my dream job as a software developer. The interactive courses and supportive community made all the difference. It empowered me to achieve my goals faster than I ever imagined."</p>
                            <h5>Anjali Desai</h5>
                            <img src="assets/user2.jpeg" class="card-img-top" alt="Anjali Desai">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><i style="color:#20B486; font-size:xx-large;" class="fa-sharp fa-solid fa-quote-left"></i>"The flexibility of online learning has been a game-changer for me. Balancing work and studies seemed impossible until I discovered this platform. Now, I’m not only managing my career but also excelling in my MBA program."</p>
                            <h5 class="card-title">Rohan Mehta</h5>
                            <img src="assets/user1.jpeg" class="card-img-top" alt="Rohan Mehta">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><i style="color:#20B486; font-size:xx-large;" class="fa-sharp fa-solid fa-quote-left"></i>"As a high school teacher, this LMS has transformed the way I approach teaching. The extensive resources and collaborative tools have significantly enhanced my students' engagement and learning outcomes. It’s a must-have for modern educators!"</p>
                            <h5 class="card-title">Priya Kapoor</h5>
                            <img src="assets/user3.jpeg" class="card-img-top" alt="Priya Kapoor">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><i style="color:#20B486; font-size:xx-large;" class="fa-sharp fa-solid fa-quote-left"></i>"Enrolling in courses here was the best decision I made. The diverse course offerings and real-time support helped me develop new skills and advance in my career. The convenience and accessibility are unmatched."</p>
                            <h5 class="card-title">Vikram Patel</h5>
                            <img src="assets/user5.jpeg" class="card-img-top" alt="Vikram Patel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><i style="color:#20B486; font-size:xx-large;" class="fa-sharp fa-solid fa-quote-left"></i>"I was always passionate about graphic design but didn’t know where to start. The comprehensive courses on this LMS guided me step-by-step, from basics to advanced techniques. Now, I’m freelancing and loving every bit of it."</p>
                            <h5 class="card-title">Sara Verma</h5>
                            <img src="assets/user4.jpeg" class="card-img-top" alt="Sara Verma">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><i style="color:#20B486; font-size:xx-large;" class="fa-sharp fa-solid fa-quote-left"></i>"Being part of this LMS community has been an inspiring journey. The collaborative environment and quality content pushed me to excel in my studies and beyond. I’ve made lifelong friends and mentors here. It was a great experience"</p>
                            <h5 class="card-title">Samar Raj</h5>
                            <img src="assets/user6.jpeg" class="card-img-top" alt="Arjun Rao">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

