mat-card {
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  mat-card h5 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  mat-card p {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  mat-form-field mat-label {
    font-size: 14px;
    font-weight: 600;
    color: #444;
  }
  
  input {
    font-size: 14px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  mat-error {
    font-size: 12px;
    color: #f44336;
    margin-top: 4px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #20B486;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #17a46d;
  }
  
  button:disabled {
    background-color: #a7e4d1;
    cursor: not-allowed;
  }
  
  @media (max-width: 600px) {
    mat-card {
      width: 90%;
      padding: 15px;
    }
  
    mat-card h5 {
      font-size: 20px;
    }
  
    mat-card p {
      font-size: 14px;
    }
  
    button {
      font-size: 14px;
    }
  
    input {
      font-size: 14px;
    }
  
    mat-form-field mat-label {
      font-size: 14px;
    }
  }
  mat-button-toggle-group[name="roles"] {
    display: flex;
    justify-content: center;
    border: none;
    
  }
  
  mat-button-toggle {
    color: #333;
    border-radius: 4px;
    font-weight: bold;
    padding: 4px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  mat-button-toggle.mat-button-toggle-checked {
    background-color: #20B486;
    color: white;
    border-color: #20B486;
  }
  

  