<app-nav></app-nav>


<mat-card>
    <h5 *ngIf="!reset" style="text-align: center"><strong>Forgot Password</strong></h5>
    <h5 *ngIf="reset" style="text-align: center"><strong>Reset Password</strong></h5>
    <mat-button-toggle-group name="roles"  [(ngModel)]="selectedOption" >
      <mat-button-toggle value="user">User</mat-button-toggle>
      <mat-button-toggle value="instructor">Instructor</mat-button-toggle>
  </mat-button-toggle-group>
    <div *ngIf="step === 1">
      <p style="text-align: center;">Please enter your email address to receive password reset instructions.</p>
      <mat-card-content>
        <form [formGroup]="emailForm" (ngSubmit)="onSubmitEmail()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="emailForm.get('email')?.hasError('required')">
              <small>Email is required.</small>
            </mat-error>
            <mat-error *ngIf="emailForm.get('email')?.hasError('email')">
              <small>Invalid email address.</small>
            </mat-error>
          </mat-form-field>
  
          <button type="submit" [disabled]="emailForm.invalid">Submit</button>
        </form>
      </mat-card-content>
    </div>
  
    <div *ngIf="step === 2">
      <p style="text-align: center;">Please enter your new password.</p>
      <mat-card-content>
        <form  [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>New Password</mat-label>
            <input matInput type="password" 
            matTooltip="Password should have atleast 1 uppercase, lowercase, number and special charecter"formControlName="password" required>
            <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">
              <small>Password is required.</small>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" required>
            <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">
              <small>Confirm Password is required.</small>
            </mat-error>
            <mat-error *ngIf="passwordForm.hasError('passwordMismatch')">
              <small>Passwords do not match.</small>
            </mat-error>
          </mat-form-field>
  
          <button type="submit" [disabled]="passwordForm.invalid">Submit</button>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
  

  <app-footer></app-footer>