
.circular-image{
   height:100px;
   width:100px
}
.card-title{
    padding-top: 15px;
}


@media (max-width: 768px) {
   .courses{
   justify-content: center;
   align-items: center;
   text-align: center;
   }
  }
   
.enterprise{
   color:white;
   background-color: #20B486;
   border-radius: 5px;
   border: none;
   padding: 10px;
}

  