<nav class="navbar navbar-expand-lg"
    [ngStyle]="{'background': customColor || 'linear-gradient(to bottom, #ccefe6, white)'}">
    <div class=" nav-container container-fluid">
        <a class="navbar-brand" href="#home">
            <img src="../../../assets/logo.png" width="100px" height="100px" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>


                <li class="nav-item dropdown align-chk">
                    <a class="nav-link dropdown-toggle " href="#" data-bs-toggle="dropdown"
                        data-bs-auto-close="outside">Courses</a>
                    <ul class="dropdown-menu shadow">
                        <li><a class="dropdown-item" routerLink="/courses">All Courses</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/courses']" >Programming Courses</a></li>
                        <li><a class="dropdown-item" >Web Development Courses</a></li>
                    </ul>
                </li>


                <li class="nav-item">
                    <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/blogs" routerLinkActive="active">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
                </li>
                <li class="nav-item">
                    <button routerLink="/login" id="loginbutton">Login</button>
                </li>
                <li class="nav-item">
                    <button routerLink="/signup" id="signinbutton">Sign In</button>
                </li>
            </ul>
        </div>
    </div>
</nav>