:host {
  display: block;
  background-color: #e6e6e4;
  font-family: "Arial", sans-serif;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2, h3, h4, h5 {
  margin: 0;
  color: #333;
  font-weight: 600;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.header-img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.title {
  flex: 1;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.title h2 {
  font-size: 2.2em;
  color: #333;
  margin-bottom: 10px;
}

.title p {
  color: #666;
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 10px;
}

.title i {
  margin-right: 10px;
}

.title .category, .title .level, .title .prerequisites {
  font-size: 1.1em;
}

.title .category {
  color: #007bff;
}

.title .prerequisites,
.title .level {
  color: #666;
}

.title .duration {
  color: #888;
}

.details {
  display: flex;
  flex-wrap: wrap;
}

.outline {
  flex: 2;
  margin-right: 30px;
}

.outline h2 {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 20px;
}

.outline h3 {
  color: #20B486;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.outline p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 15px;
}

.outline section {
  margin-bottom: 40px;
  width: 60%;
}

.instructor-details {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.instructor {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.instructor img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
}

.instructor h5 {
  font-size: 1.4em;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.instructor p {
  color: #666;
  font-size: 1.1em;
  line-height: 1.6;
}

.instructor_rating {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reviews {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reviews .user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.reviews .user img {
  border-radius: 50%;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}

.reviews h5 {
  font-size: 1.2em;
  font-weight: 600;
  color: #333;
}

.reviews .rating {
  margin: 10px 0;
}

.reviews .fa-star {
  font-size: 18px;
  color: #ccc;
  margin-right: 3px;
}

.reviews .fa-star.checked {
  color: #ffcc00;
}

.reviews p {
  font-size: 1.1em;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.faqs {
  flex: 1;
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faqs h4 {
  font-size: 1.4em;
  color: #333;
  margin-bottom: 15px;
}

.faqs p {
  color: #666;
  font-size: 1.1em;
  line-height: 1.6;
}

code {
  font-size: 1.1em;
}

.instructor_rating form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.mat-form-field label {
  font-size: 1.2em;
  font-weight: 600;
  color: #333;
}

textarea.mat-input-element {
  font-size: 1.1em;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: #333;
  background-color: #f8f8f8;
  resize: vertical;
  width: 100%;
}



.mat-select {
  font-size: 1.1em;
  color: #333;
  background-color: #f8f8f8;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
}



.mat-option {
  font-size: 1.1em;
  color: #333;
}

.instructor_rating button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #20B486;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}




