<app-nav [customColor]="'#e6e6e4'"></app-nav>

<div class="container">
    <div class="row header">
      <div class="col-lg-5 col-md-12">
        <img class="header-img" [src]="course_data.img">
      </div>
      <div class="col-lg-7 col-md-12 title">
        <h2>{{course_data.name}}</h2>
        <p>{{course_data.description}}</p>
        <p> Category: {{course_data.category}}</p>
        <p>Prerequisites: {{course_data.prerequisites}}</p>
        <p>Level: {{course_data.level}}</p>
        <p><i class="fas fa-clock"></i>{{course_data.duration}} weeks</p>
      </div>
    </div>
  
   
    <div class="row details">
      <div class="col-lg-8 col-md-12 outline">
        <section class="course-content">
          <h2>Course Content</h2>
          <div *ngFor="let content of course_data.courseContent">
            <h3>Week {{ content.week }}: {{ content.title }}</h3>
            <p>{{ content.description }}</p>
          </div>
        </section>
      </div>
    
      <div class="col-lg-4 col-md-12 instructor-details">
        <div class="instructor">
          <h4>Instructor</h4>
          <img [src]="instructor.image">
          <h5>{{instructor.name}}</h5>
          <p>{{instructor.bio}}</p>
        </div>
    
        <div *ngIf="!isratingGiven" class="instructor_rating">
          <h5>Please give us your Rating</h5>
          <form [formGroup]="ratingForm" >
            <mat-form-field>
              <mat-label>Rating</mat-label>
              <mat-select formControlName="rating">
                <mat-option *ngFor="let number of [1, 2, 3, 4, 5]" [value]="number">{{number}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Message</mat-label>
              <textarea matInput formControlName="message" required></textarea>
            </mat-form-field>
            <button mat-button (click)="submit()">Submit</button>
          </form>
        </div>
    
      </div>
    </div>
    
    <div *ngIf="isratingAvailable" style="margin-top: 50px;" class="reviews">
      <div *ngFor="let review of reviews">
        <div class="user">
          <img height="50px" width="50px" src="assets/i3.jpeg">
          <h5>{{review.reviewerName}}</h5>
        </div>
        <div class="rating">
          <span *ngFor="let star of [].constructor(5); let i = index"
                class="fa fa-star"
                [ngClass]="{'checked': i < review.rating}"></span>
        </div>
        <p>{{review.comment}}</p>
      </div>
    </div>
  
  <app-footer></app-footer>
