<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3">
          <img src="assets/logo1.png" height="" alt="logo" >
          <h6>Learning Management System</h6>
          <p>Privacy | Statement Terms & Conditions</p>
          <p>Website Terms | Cookie Preferences</p>
        </div>
        <div class="col-md-4 mb-3">
          <h6>Useful Links</h6>
          <p><a routerLink="/home" class="text-white">Home</a></p>
          <p><a routerLink ="/courses" class="text-white">All Courses</a></p>
          <p><a routerLink ="/instructor" class="text-white">Instructors</a></p>
          <p><a routerLink="/aboutus" class="text-white">About Us</a></p>
          <p><a routerLink="/contact" class="text-white">Contact Us</a></p>
          <p><a routerLink="/blogs" class="text-white">Blogs</a></p>
        </div>
        <div class="col-md-4 mb-3">
          <h6>Subscribe to Our Mailing List</h6>
          <form id="subscribe-form" class="d-flex">
            <input type="email" class="form-control me-2" placeholder="Enter your email" required>
            <button type="submit" class="btn btn-warning"><i class="fa-solid fa-share-from-square"></i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="copyright text-center py-2">
      <p>© 2024 Copyright: LMS</p>
      <div class="icon">
        <a href="https://www.linkedin.com/in/shreya-s-prabhu" aria-label="View Facebook Profile" class="text-white"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/shreya-s-prabhu" aria-label="View Twitter Profile" class="text-white"><i class="fa-brands fa-square-twitter"></i></a>
        <a href="https://www.linkedin.com/in/shreya-s-prabhu" aria-label="View LinkedIn Profile" class="text-white"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.linkedin.com/in/shreya-s-prabhu" aria-label="View Instagram Profile" class="text-white"><i class="fa-brands fa-square-instagram"></i></a>
      </div>
    </div>
  </footer>
  