<app-header></app-header>

<div id="features">
    <h4>Empower Your Learning Journey</h4>
    <p>Everything you need to succeed in one convenient platform.</p>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6" style =" display: flex;
          justify-content: center;
          align-items: center;" *ngFor="let feature of features">
            <app-feature-card 
              [iconClass]="feature.iconClass"
              [title]="feature.title"
              [description]="feature.description">
            </app-feature-card>
          </div>
        </div>
      </div>
      
</div> 
 

<div class=" counter-container">
  <div class="row">
    <div class="col">
      <app-counter [targetValue]="500" counterName="Partnered Institutions" iconClass="fa-solid fa-building-columns"></app-counter>
    </div>
    <div class="col">
      <app-counter [targetValue]="1000" counterName="Diverse Courses Available" iconClass="fas fa-book-open"></app-counter>
    </div>
    <div class="col">
      <app-counter [targetValue]="5000" counterName="Thriving Student Community" iconClass="fas fa-users"></app-counter>
    </div>
  </div>
</div>


<app-carousel></app-carousel>

<div class="container popular">
  <h5 style="text-align: center;">Our Popular Courses</h5>
  <div class="row">
      <div class="col-md-3 col-sm-6 "  *ngFor="let course of courses">
          <app-course-card [course]="course"></app-course-card>
      </div>
  </div>
</div>


<div class="container pricing-container" >
  <h5 style="text-align: center;">Check Out Our LMS Pricing</h5>
  <div class="row pricing-grid "> 
    <div class="col-lg-4 col-md-6 col-sm-12 mt-4" *ngFor="let pricingBox of pricingBoxes">
      <app-price-card [pricingBox]="pricingBox"></app-price-card>
    </div>
  </div>
</div>

<div class="container blog-container">
  <h5 style="text-align: center;">Upcoming Blogs and Webinars</h5>
  <div class="row blog-grid"> 
    <div class="col-lg-6 col-md-6 col-sm-12 mb-4 blogcard" *ngFor="let blog of blog_data">
      <app-blog-container [blogdata]="blog"></app-blog-container>
    </div>
  </div>
</div>



<app-footer></app-footer>
 