<div class="container blog-card d-flex"  [routerLink]="['/view-blog',blogdata.blog_id]" >
    <div class="image-container me-3">
        <img [src]="blogdata.images[0]" class="img-fluid" alt="Blog Image">
    </div>
    <div class="content">
        <div class="date">
            {{ blogdata.date |date }}
        </div>
        <div class="heading">
            {{ blogdata.title }}
        </div>
        <div class="description">
            {{ blogdata.description }}
        </div>
        <div class="tags">
            <div class="author">
                {{ blogdata.author }}
            </div>
           
        </div>
    </div>
</div>
